<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Prediction History</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>📜 Prediction History</h1>

    <br>

    {% if data %}

    <table>

        <tr>

            <th>ID</th>

            <th>Stock</th>

            <th>Prediction</th>

            <th>Accuracy</th>

            <th>Date & Time</th>

        </tr>

        {% for row in data %}

        <tr>

            <td>{{ row[0] }}</td>

            <td>{{ row[1] }}</td>

            <td>₹ {{ row[2] }}</td>

            <td>{{ row[3] }}%</td>

            <td>{{ row[4] }}</td>

        </tr>

        {% endfor %}

    </table>

    {% else %}

    <h3>No predictions available.</h3>

    {% endif %}

    <br><br>

    <a href="/">
        🏠 Home
    </a>

    &nbsp;&nbsp;&nbsp;

    <a href="/dashboard">
        📊 Dashboard
    </a>

</div>

</body>

</html>