<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Stock Price Predictor</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>📈 Stock Price Predictor</h1>

    <form action="/predict" method="POST">

        <input
            type="text"
            name="symbol"
            placeholder="Examples: AAPL, MSFT, TSLA, RELIANCE.NS"
            required>

        <button type="submit">
            Predict
        </button>

    </form>

    <br>

    {% if prediction %}

    <div class="result">

        <h2>
            Stock: {{ symbol }}
        </h2>

        <h2>
            Predicted Price:
            ₹ {{ prediction }}
        </h2>

        <h3>
            Model Accuracy:
            {{ accuracy }}%
        </h3>

    </div>

    {% endif %}

    {% if error %}

    <div class="error">

        <h3>
            {{ error }}
        </h3>

    </div>

    {% endif %}

    <hr>

    <div class="links">

        <a href="/history">
            📜 Prediction History
        </a>

        <br><br>

        <a href="/dashboard">
            📊 Analytics Dashboard
        </a>

        <br><br>

        <a href="/download">
            ⬇ Download CSV
        </a>

    </div>

    <hr>

    <h2>📉 Historical Stock Price Chart</h2>

    <iframe
        src="/static/stock_chart.html"
        width="100%"
        height="550"
        frameborder="0">

    </iframe>

    <hr>

    <h2>📈 Future Prediction Trend</h2>

    <iframe
        src="/static/prediction_chart.html"
        width="100%"
        height="550"
        frameborder="0">

    </iframe>

</div>

</body>

</html>